# Dependency directories
node_modules/

# Environment variables
.env
.env*.local

# Logs
logs
*.log
npm-debug.log*

# OS and Editor configs
.DS_Store
.vscode/
.idea/
Thumbs.db

# Local seeding scripts
seed_mit_rich_data.js
seed_specific_student.js


.vercel
